<div class="center hero-unit">
<%= image_tag("watchtower_wide.png", { :style => "height:150px"}) %>
  <h1>WATCHTOWER</h1>
  <h2>
    Let's watch over Planet Earth 
    <br>and on Her surface create Heaven 
    <br>one project at a time
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>


<%#%>
